@import '~bootstrap/scss/bootstrap';

body {
    background-image: url('../img/jumbotron.jpg');
    color: white;
}

header, .whitebg {
    background-color: rgba($color: #000000, $alpha: .7);
}

table {
    background-color: white;
}

.whitebg {
    font-size: 4rem;
    color: white;
}
