@import '~bootstrap/scss/bootstrap';

body {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    color: white;
}

main {
    min-height: 100vh;
    background-color: rgba($color: #000000, $alpha: .7);
}

.layover {
    background-color: rgba($color: #000000, $alpha: .5);
    border-radius: 50px;
}

header, .whitebg, h1 {
}

table {
    background-color: white;
}

p {
    font-size: 1.2rem;
}

.whitebg {
    font-size: 4rem;
    color: white;
}
